body{

}


.cup{
    position: relative;
    width: 1200px;
    height: 1200px;
    background: #b3ccd8;
}


.square {
    width: 200px;
    height: 100px;
    position: absolute;
    background: #b19d9d;
    top: 100px;
    left: 150px;
    border-radius: 50px 50px 20px 20px;


.handle {
    width: 300px;
    height: 25px;
    background: #887272;
    position: absolute;
    left: 100px;
    top: 180px;
    border-radius: 10px;

.counter {
    width: 200px;
    height: 20px;
    background: #fdedf0;
    position: absolute;
    left: 150px;
    top: 140px;
